
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Panel</h2>

<p>
    @Html.ActionLink("Users", "Users", "Admin", null, new { @class = "btn btn-primary" })
</p>
<p>
    @Html.ActionLink("Roles", "Roles", "Admin", null, new { @class = "btn btn-primary" })
</p>

