@model IEnumerable<Vidly.ViewModels.UserViewModel>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Email</th>
            <th>Phone</th>
            <th>Roles</th>      
            <th>Assign new role</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <td>@user.User.Email</td>
                <td>@user.User.Phone</td>
                <td>
                    @foreach (var role in user.Roles.ToList())
                    {
                        <p>@role</p>
                    }
                </td>     
                <td>@Html.ActionLink("Assign", "AssignRole", "Admin", new { id = user.User.Id }, new { @class = "btn btn-primary" })</td>
            </tr>
        }
    </tbody>
</table>

