<appSettings>
  <add key="FacebookAppId" value="843579636433528" />
  <add key="FacebookAppSecret" value="efd3c8eafa1f5b494e745992291b8be3" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
